---

---

<!-- svg animation  -->
<div
  class="opacity-50 hidden w-full md:flex flex-col items-center justify-center space-y-[100px] pb-5 absolute top-[60%] left-1/2 transform -translate-x-1/2 -translate-y-1/2"
>
  <!-- top  -->
  <svg
    viewBox="0 0 1440 180"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <path
      id="theMotionPathTop"
      d="M1440 1H1305.86C1298.68 1 1292.86 6.8203 1292.86 14V166C1292.86 173.18 1287.04 179 1279.86 179H126.292C119.113 179 113.292 173.18 113.292 166V15.7033C113.292 8.52363 107.472 2.70335 100.292 2.70335H0"
      stroke="#EAEAEA"></path>
    <style>
      .line {
        stroke: var(--color-primary);
        stroke-width: 2;
      }
    </style>
    <g>
      <line x1="8" y1="0" x2="0" y2="0" class="line">
        <animateMotion
          dur="12s"
          begin="0s"
          fill="freeze"
          repeatCount="indefinite"
          rotate="auto"
        >
          <mpath xlink:href="#theMotionPathTop"></mpath>
        </animateMotion>
      </line>
    </g>
  </svg>
  <!-- /top  -->

  <!-- center  -->
  <svg
    viewBox="0 0 1440 2"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <path id="theMotionPathCenter" d="M1440 0.5H0" stroke="#EAEAEA"></path>
    <style>
      .line {
        stroke: var(--color-primary);
        stroke-width: 2;
      }
    </style>
    <g>
      <line x1="-18" y1="1" x2="0" y2="1" class="line">
        <animateMotion
          dur="6s"
          begin="0s"
          fill="freeze"
          repeatCount="indefinite"
          rotate="auto"
        >
          <mpath xlink:href="#theMotionPathCenter"></mpath>
        </animateMotion>
      </line>
    </g>
  </svg>

  <!-- /center  -->

  <!-- bottom  -->
  <svg
    viewBox="0 0 1440 180"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <path
      id="theMotionPathBottom"
      d="M1482 179H1305.86C1298.68 179 1292.86 173.18 1292.86 166V14C1292.86 6.8203 1287.04 1.00001 1279.86 1.00001H126.292C119.113 1.00001 113.292 6.8203 113.292 14V164.297C113.292 171.476 107.472 177.297 100.292 177.297H-75"
      stroke="#EAEAEA"></path>
    <style>
      .line {
        stroke: var(--color-primary);
        stroke-width: 2;
      }
    </style>
    <g>
      <line x1="8" y1="0" x2="0" y2="0" class="line">
        <animateMotion
          dur="12s"
          begin="0s"
          fill="freeze"
          repeatCount="indefinite"
          rotate="auto"
        >
          <mpath xlink:href="#theMotionPathBottom"></mpath>
        </animateMotion>
      </line>
    </g>
  </svg>
  <!-- /bottom    -->
</div>
