@utility section {
  @apply py-28 xl:py-40;
}

@utility bg-gradient {
  @apply bg-gradient-to-b from-[rgba(249,249,249,1)] from-[0.53%] to-white to-[83.28%];
}

.rounded-sm {
  @apply rounded-[4px];
}
.rounded {
  @apply rounded-[6px];
}
.rounded-lg {
  @apply rounded-[12px];
}
.rounded-xl {
  @apply rounded-[16px];
}

@utility shadow {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}
